@model IEnumerable<ProjectFinal.Models.Flights>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plane_model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peoples)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plane_model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peoples)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Available)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
